###Getting & Knowing Your Data 
Chipotle Exercises

In [0]:
#Import the libraries

import pandas as pd
import numpy as np

In [47]:
#Import the dataset using a URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo_data = pd.read_csv(url, sep = '\t')
chipo_data.head(5)  #Show the first 5 rows

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

Count the number of rows and columns of a DataFrame

In [0]:
#One solution

total_rows= chipo_data.shape[0]
total_cols= chipo_data.shape[1]
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 4622
Number of Columns: 5

In [0]:
#Other alternative that I found

total_rows=len(chipo_data.axes[0])
total_cols=len(chipo_data.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 4622
Number of Columns: 5

Show the columns of the dataframe

In [0]:
chipo_data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

To show the range of Index

In [0]:
chipo_data.index

RangeIndex(start=0, stop=4622, step=1)

Using Group by

In [0]:
#The most-ordered item

c = chipo_data.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending=False) 
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [0]:
#The most-ordered item
# Other way to do that

c = chipo_data.groupby('item_name')['quantity'].sum()
c = c.sort_values(ascending=False)
c.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [0]:
#The most ordered item in the choice_description column

c = chipo_data.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False) 
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [0]:
#How many items were orderd in total?
total_items_orders = chipo_data.quantity.sum()
total_items_orders

4972

In [0]:
#How many orders were made in the period?
orders = chipo_data.order_id.value_counts().count()
orders

1834

###Getting & Knowing Your Data 
Occupation Exercises

In [0]:
#Import the necessary libraries
import pandas as pd
import numpy as np

In [0]:
#Import the dataset from this address
#Assign it to a variable called users and use the 'user_id' as index

users=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

In [9]:
#See the first 5 entries
users.head(5)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [11]:
  #See the last 5 entries
users.tail(5)

         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [17]:
#What is the number of observations in the dataset? I'm using shape becasue It stores the number of rows and columns as a tuple
users.shape

(943, 4)

In [18]:
#To get the only rows
users.shape[0] # 0 represent the rows nd 1 represent columns

943

In [21]:
# to use a variables
row, col = users.shape
print('Numbers of rows: ',row)
print('Number of columns', col)

Numbers of rows:  943
Number of columns 4

In [23]:
#Print the name of all the columns
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [24]:
#How is the dataset indexed?
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [29]:
#What is the data type of each column?
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [30]:
#Print only the occupation column
users['occupation'] #or you can use users.occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [32]:
#How many different occupations are in this dataset
users.occupation.nunique()

21

In [35]:
#break-up by occupation to see the most frequent occupation?
users.occupation.value_counts().head(1)

student    196
Name: occupation, dtype: int64

In [36]:
#Summarize the DataFrame.
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [37]:
#Summarize all the columns
users.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [41]:
#Summarize only the occupation column
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [42]:
#What is the mean age of users?
round(users.age.mean())

34

In [44]:
#What is the age with least occurrence?¶
users.age.value_counts().tail()

11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64

###Filtering and Sorting Data

In [5]:
#Import the dataset using a URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
chipo.head(5)  #Show the first 5 rows

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [9]:
#Sort by the name of the item
chipo.sort_values(by = "item_name")

      order_id  ...  item_price
3389      1360  ...     $12.98
341        148  ...      $6.49
1849       749  ...      $6.49
1860       754  ...      $6.49
2713      1076  ...      $6.49
...        ...  ...         ...
2384       948  ...      $8.75
781        322  ...      $8.75
2851      1132  ...      $8.49
1699       688  ...     $11.25
1395       567  ...      $8.49

[4622 rows x 5 columns]

In [10]:
#What was the quantity of the most expensive item ordered?
chipo.sort_values(by = "item_price", ascending = False).head(1)

      order_id  ...  item_price
2624      1042  ...      $9.39

[1 rows x 5 columns]

In [15]:
#How many times was a Veggie Salad Bowl ordered?
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]
len(chipo_salad)

18

In [19]:
chipo[0:-1]

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4616      1832  ...      $4.45
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75

[4621 rows x 5 columns]